<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="index.html">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse"
        routerLink="/admin/phones">
        <i class="bi bi-menu-button-wide"></i><span>Phones</span>
      </a>
    </li>
    <!-- End Components Nav -->

    <li class="nav-item">
      <a class="dropdown-item d-flex align-items-center" routerLink="">
        <i class="bi bi-box-arrow-right"></i>
        <span>Sign Out</span>
      </a>
    </li>


  </ul>

</aside>
